<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.unity.ads" android:versionName="1.0" android:versionCode="1">
  <application>
    <uses-library android:required="false" android:name="org.apache.http.legacy" />
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-4398823708131797~6760525794" />
    <meta-data android:name="applovin.sdk.key" android:value="hwaur8nXVl1oyXnukUA8IRW2FoE0cJI6KUsBJ0BCJD8bhCzzBxq2e9Eg1nHoQM1f9ZoM95pD7xw9KOQF1a5Dl6" />
  </application>
</manifest>